@import url('./Colors.less');

:root {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  line-height: 24px;
  color-scheme: light dark;
  color: @neutral-40;
  background-color: @neutral-20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}
